<div class="row">
  <div class="col-sm-12 text-center">
    <%= form_for(@bill) do |f| %>

      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :amount %>
      <%= f.text_field :amount %>

      <%= f.label :due_at %>
      <%= f.text_field :due_at %>

      <%= f.label :paid %>
      <%= f.check_box :paid %>

      <%= f.submit %>
    <% end %>

  </div>
</div>
